*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: sans-serif;

    padding: 10rem;
}

.chats {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 54px;
    min-height: 54px;
}

.chat label {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 54px;
    min-height: 54px;
}

.chat__text--added {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}